* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #17152A;
    flex-direction: column;
}

h1 {
    color: #cacaca;
}
a {
    color: #cacaca;
}