<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4f6d94b9cb.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/contact/style.css">
    <title>Contact</title>
</head>

<body>
    <div class="allcolumns">
        {{template "LeftColumn" }}
        <div class="midcolumn">
            <div id="report-text">Bienvenue sur la page contact.<br>Sur cette page, vous pourrez signaler des
                utilisateurs, bugs ou juste demander de l'aide.</div>
            <div id="div-report">
                <select name="which-contact" id="which-contact" required>
                    <option value="" disabled selected hidden>Choisir le motif</option>
                    <option value="help">Besoin d'aide ?</option>
                    <option value="report">Signaler utilisateur</option>
                    <option value="bug">Prévenir d'un bug</option>
                    <option value="contact">Nous contacter</option>
                </select>
            </div>
            <div id="div-complementary">
                <div id="div-why">
                    <textarea class="area-style" id="why" rows="10%" cols="20%" maxlength="480"></textarea>
                    <p id="error-why">ERROR 404</p>
                </div>
                <div id="div-email">
                    <textarea class="area-style" id="email" rows="3%" cols="20%" maxlength="480"
                        placeholder="Votre mail de contact"></textarea>
                    <p id="error-email">ERROR 404</p>
                </div>
                <div id="div-submit">
                    <button id="submit" type="button">Envoyer</button>
                </div>
            </div>
        </div>
        {{ template "RightColumn"}}
    </div>
    <script src="./static/contact/index.js"></script>
</body>

</html>