<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/home/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4f6d94b9cb.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Accueil | Cronos</title>
</head>


<body>
    <div class="allcolumns">
        {{template "LeftColumn" }}
        <div class="midcolumn">
            <div class="top"></div>
            <div class="userwrapper">
                <div class="textareawrapper">
                    <textarea id="text-value-entry" rows="5%" maxlength="240"
                        placeholder="Racontes-nous ta vie ?!"></textarea>
                </div>
                <div id="post-phone"></div>
                <div class="media">
                    <div class="media-left">
                        <div class="add-image">
                            <i class="fa fa-photo"></i>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="timeselecteur">
                            <select name="selecttime" id="select-time">
                                <option value="1">1 minute</option>
                                <option value="5">5 minutes</option>
                                <option value="10">10 minutes</option>
                                <option value="30">30 minutes</option>
                                <option value="60">1 heure</option>
                                <option value="120">2 heures</option>
                                <option value="180">3 heures</option>
                                <option value="240">4 heures</option>
                                <option value="300">5 heures</option>
                                <option value="360">6 heures</option>
                                <option value="420">7 heures</option>
                                <option value="480">8 heures</option>
                                <option value="540">9 heures</option>
                                <option value="600">10 heures</option>
                                <option value="660">11 heures</option>
                                <option value="720">12 heures</option>
                                <option value="1440">24 heures</option>
                            </select>
                        </div>
                        <div class="buttonpost">
                            <button id="button-post" type="button">Cron</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-all-article"></div>
            <div id="more">

                <p id="more-text">Afficher plus </p> <i class='far fa-arrow-alt-circle-down'></i>
            </div>
            <div class="post-popup"><i class="fas fa-paper-plane" style="font-size:25px;"></i></div>
        </div>
    </div>
    {{template "RightColumn" }}
    </div>
</body>
<script type="module" src="./static/home/index.js"></script>

</html>