/* @font-face {
    font-family: 'orkneyregular';
    src: url('/font/orkney-regular-webfont.woff2') format('woff2'), url('/font/orkney-regular-webfont.woff') format('woff');
} */

* {
    /* font-family: 'orkneyregular'; */
    margin: 0;
    padding: 0;
}

.allcolumns {
    background-color: #08061A;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftcolumn {
    width: 20%;
    height: 100%;
}

.navbar {
    height: 90%;
    margin: 30px;
    border-radius: 1.05rem;
    background-color: #08061A;
}

.logo {
    margin-left: 10px;
}

.nave {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    font-size: 25px;
    height: 80%;
}

.fa {
    color: #cacaca;
    margin-right: 10px;
}

.icon {
    width: 20%;
}

.nomnave {
    width: 80%;
}

li {
    cursor: pointer;
    list-style: none;
    margin: 50px 0px;
}

p {
    cursor: pointer;
    color: #cacaca;
    text-decoration: none;
}

.logout {
    background-color: #17152A;
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 6%;
    border-radius: 30px;
}

.logout:hover {
    transform: scaleY(110%);
    transform: scaleX(105%);
}

.logoutleft {
    width: 20%;
}

.logout img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.logoutmid {
    width: 69%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #cacaca;
    margin-right: 1%;
}

.logoutright {
    width: 10%;
}

.logoutright .fa-ellipsis {
    color: #cacaca;
}

.iconlogout {
    color: #cacaca;
}

.midcolumn {
    width: 60%;
    height: 100%;
}

.top {
    display: flex;
    justify-content: end;
    height: 5%;
    width: 100%;
}

.userwrapper {
    margin-bottom: 10px;
    width: 100%;
    color: #cacaca;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
}

.userimg img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pseudouser {
    width: 90%;
    margin: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #cacaca;
}

.optionsadmin {
    cursor: pointer;
}

.textareawrapper {
    height: 60%;
    border: 1 px solid #B33CED;
    margin: 5px 0;
    padding: 3px;
}

#text-value-entry {
    outline: none;
    color: #cacaca;
    resize: none;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #17152A;
    /* border-color: #B33CED; */
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 10px;
    font-size: 17px;
}

.mediaction {
    height: 100%;
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    align-items: center;
    width: 80%;
}

.void-right {
    width: 5%;
}

.add-image {
    cursor: pointer;
    width: 10%;
    height: 100%;
}

.timeselecteur {
    width: 10%;
}

#select-time {
    cursor: pointer;
    width: 75px;
    height: 25px;
    margin: 0 5px 0 0px;
    color: #cacaca;
    border: solid 1px #17152A;
    border-radius: 30px;
    background-color: #17152A;
    text-align: center;
}

#selecttime:hover {
    transition: 0.4s ease;
    border: #B33CED solid 1px;
}

.buttonpost {
    width: 10%;
}

#button-post {
    cursor: pointer;
    width: 75px;
    height: 25px;
    margin: 0 25px 0 5px;
    color: #cacaca;
    background-color: #B33CED;
    border: 1px solid #B33CED;
    border-radius: 30px;
}

#button-post:hover {
    transition: 0.4s ease;
    background-color: #9441be;
    border-color: #9441be;
}

.div-all-article {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
    width: 100%;
}

.div-all-article::-webkit-scrollbar {
    width: 10px;
}

.div-all-article::-webkit-scrollbar-track {
    width: 6px;
    background-color: #08061A;
}

.div-all-article::-webkit-scrollbar-thumb {
    background-color: #17152A;
    border-radius: 30px;
    width: 100px;
    border: none;
}

.div-all-article {
    border: none;
}

.article {
    border: none;
    margin-bottom: 2%;
    border-bottom: #17152A 2px solid;
}

.user-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #cacaca;
}

.image-user {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-image img {
    cursor: pointer;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.pseudo-user {
    width: 90%;
    margin: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #cacaca;
}

.options-admin {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: 10%;
}

.article-text {
    border-left: #17152A solid 1px;
    /* border-radius: 5px; */
    /* background-color: #17152A; */
    color: #cacaca;
    font-size: 20px;
    margin: 5px 2px 10px 40px;
}

.article-area {
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.partage {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.vide-gauche {
    width: 5%;
}

.like {
    cursor: pointer;
    width: 10%;
}

.dislike {
    cursor: pointer;
    width: 10%;
}

.share {
    cursor: pointer;
    width: 10%;
}

.save {
    cursor: pointer;
    width: 10%;
}

.comment {
    cursor: pointer;
    width: 10%;
}

.time {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.vide-droite {
    width: 40%;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #cacaca;
    /* #08061A */
}

::-webkit-scrollbar-thumb {
    background-color: #17152A;
    border-radius: 30px;
    border: solid 1px #B33CED;
    width: 10px;
}

.rightcolumn {
    width: 20%;
    height: 100vh;
}

.search {
    height: 10%;
}

.v {
    height: 20%;
}

.searchbar {
    height: 60%;
    display: flex;
    justify-content: flex-start;
}

.loupe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.search-bar {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#research {
    overflow: none;
    border: #B33CED 1px solid;
    background-color: #08061A;
    padding-left: 5px;
    outline: none;
    color: #cacaca;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 17px;
}

.tags {
    height: 90%;
}