{{define "RightColumn"}}
<link rel="stylesheet" type="text/css" href="/static/templates/right/rightTemplate.css">
<div class="rightcolumn">
    <div class="search">
        <div class="search-bar">
                <input type="search" id="research" placeholder="@user or #tag" >
                <button id="redirect-user"> <i id="valid" class="fa fa-search"></i></button>
        </div>
    </div>
    <div id="tags">

    </div>

</div>
<script src="/static/templates/right/index.js"></script>
{{end}}