<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/cron/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4f6d94b9cb.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Accueil | Cronos</title>
</head>



<body>
    <div class="allcolumns">
        {{template "LeftColumn"}}
        <div class="midcolumn">
            <div class="post-of-croner">
            </div>
            <div class="my-comment-wrapper">
                <div class="my-comment-content">
                    <div class="img-profile">
                    </div>
                    <div class="textarea-and-media-row">
                        <div class="textarea-wrapper">
                            <textarea id="text-value-entry" rows="5%" maxlength="240"
                                placeholder="Racontes-nous ta vie ?!"></textarea>
                        </div>
                        <div class="media-and-button-crone-comment-row">
                            <i class="fa fa-photo"></i>
                            <div class="button-crone-comment">
                                <button type="button">Cron</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="all-other-comments">
            </div>
        </div>
        {{template "RightColumn"}}
    </div>
</body>

</html>