* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.midcolumn {
    border: red solid 2px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.crone {
    border: red solid 2px;
}